header {
	padding: 10px;
	background: #FFFFCC;
}

footer {
	background: #FFFF99;
}

img {
	height: 150px;
	width: 110px;
}
.width {
	width: 150px;
	height: 170px;
}
body {
	height: 100%;
	width: 100%;
	font-family: Bahnschrift;

}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.red {
	color: red;
}